body{
    background-color: aliceblue;
    background-position: 0%;
    margin: auto;
    padding:0%
}
h1{
    font-style: oblique;
    text-decoration-line: underline;
}
body{
    text-align: center;
    opac
}